In [1]:
import numpy as np
import pandas as pd

In [2]:
movies= pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [5]:
movies = movies.merge(credits,on='title')

In [6]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [7]:
movies= movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [8]:
movies.head(5)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [9]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [10]:
movies.dropna(inplace=True)

In [11]:
movies.duplicated().sum()

0

In [12]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [13]:
import ast

In [14]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [15]:
movies['genres']=movies['genres'].apply(convert)

In [16]:
movies['keywords']=movies['keywords'].apply(convert)

In [17]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [18]:
def convert3(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

In [19]:
movies['cast']=movies['cast'].apply(convert)

In [20]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [21]:
def fetch_director(obj):
    L= []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [22]:
movies['crew']=movies['crew'].apply(fetch_director)

In [23]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]

In [24]:
movies['overview']=movies['overview'].apply(lambda x:x.split())

In [25]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

In [26]:
movies['genres']= movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords']= movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast']= movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew']= movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [27]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron]

In [28]:
movies['tags']=movies['overview'] + movies['genres'] + movies['keywords']+ movies['cast']

In [29]:
new_df = movies[['movie_id','title','tags','crew']]

In [30]:
new_df.head()

,movie_id,title,tags,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...",[AndrewStanton]

In [31]:
#new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))
new_df['crew'] = new_df['crew'].apply(lambda x:" ".join(x))

C:\Users\Pradnya\AppData\Local\Temp/ipykernel_16712/1210222589.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['crew'] = new_df['crew'].apply(lambda x:" ".join(x))

In [32]:
new_df.head(1)

,movie_id,title,tags,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...",JamesCameron

In [33]:
#new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())
new_df['crew'] = new_df['crew'].apply(lambda x:x.lower())

C:\Users\Pradnya\AppData\Local\Temp/ipykernel_16712/2033951624.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['crew'] = new_df['crew'].apply(lambda x:x.lower())

In [34]:
new_df.head(1)

,movie_id,title,tags,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...",jamescameron

In [35]:
import nltk

In [36]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [37]:
def stem(text):
    y=[]
    
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [38]:
#new_df['tags']=new_df['tags'].apply(stem)
new_df['crew']=new_df['crew'].apply(stem)

C:\Users\Pradnya\AppData\Local\Temp/ipykernel_16712/1747271918.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['crew']=new_df['crew'].apply(stem)

In [39]:
new_df.head()

,movie_id,title,tags,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...",jamescameron
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...",goreverbinski
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...",sammend
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...",christophernolan
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...",andrewstanton

In [40]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features= 5000, stop_words='english')

In [41]:
#vectors =  cv.fit_transform(new_df['tags']).toarray()
vectors =  cv.fit_transform(new_df['crew']).toarray()

In [42]:
!pip install scikit_learn

Requirement already satisfied: scikit_learn in c:\users\pradnya\appdata\local\programs\python\python39\lib\site-packages (1.2.1)
Requirement already satisfied: scipy>=1.3.2 in c:\users\pradnya\appdata\local\programs\python\python39\lib\site-packages (from scikit_learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\pradnya\appdata\local\programs\python\python39\lib\site-packages (from scikit_learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\pradnya\appdata\local\programs\python\python39\lib\site-packages (from scikit_learn) (3.1.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\pradnya\appdata\local\programs\python\python39\lib\site-packages (from scikit_learn) (1.20.2)

WARNING: You are using pip version 20.2.3; however, version 23.0.1 is available.
You should consider upgrading via the 'c:\users\pradnya\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [43]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [44]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [45]:
cv.get_feature_names_out(5)

array(['aaronhann', 'aaronschneid', 'abelferrara', ..., 'émilegaudreault',
       'érictessi', 'étiennefaur'], dtype=object)

In [46]:
from sklearn.metrics.pairwise import cosine_similarity

In [47]:
similarity = cosine_similarity(vectors)

In [48]:
similarity[0]

array([1., 0., 0., ..., 0., 0., 0.])

In [62]:
def crew_recommend(movie):
    movie_index = new_df[new_df['crew']== movie].index[1]
    distances=similarity[movie_index]
    movies_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [63]:
crew_recommend('jamescameron')

Titanic
Terminator 2: Judgment Day
True Lies
The Abyss
Aliens

In [64]:
crew_recommend('andrewstanton')

WALL·E
Finding Nemo
A Bug's Life
Avatar
Pirates of the Caribbean: At World's End

In [52]:
def genre_recommend(movie):
    l = []

In [53]:
import pickle

In [54]:
pickle.dump(new_df,open('movies.pkl','wb'))

In [55]:
new_df['title'].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], dtype=object)

In [56]:
pickle.dump(new_df.to_dict(),open('movie_dict.pkl','wb'))

In [57]:
pickle.dump(similarity,open('similarity.pkl','wb'))

In [58]:
import nltk

In [59]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [60]:
def stem(text):
    y=[]
    
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [61]:
new_df['tags']=new_df['tags'].apply(stem)

AttributeError: 'list' object has no attribute 'split'

In [ ]:
new_df.head()

In [ ]:
!pip install matplotlib

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
!pip install langdetect

In [ ]:
import langdetect

In [ ]:
txt = new_df["tags"].iloc[0]
print(txt, " --> ", langdetect.detect(txt))

In [ ]:
new_df['lang'] =  new_df["tags"].apply(lambda x: langdetect.detect(x) if 
                                 x.strip() != "" else "")
new_df.head()

In [ ]:
new_df = new_df[new_df["lang"]=="en"]

In [ ]:
import re

In [ ]:
print("--- original ---")
print(txt)
print("--- cleaning ---")
txt = re.sub(r'[^\w\s]', '', str(txt).lower().strip())
print(txt)
print("--- tokenization ---")
txt = txt.split()
print(txt)

In [ ]:
import nltk

In [ ]:
nltk.download('stopwords')

In [ ]:
lst_stopwords = nltk.corpus.stopwords.words("english")
lst_stopwords

In [ ]:
print("--- remove stopwords ---")
txt = [word for word in txt if word not in lst_stopwords]
print(txt)

In [ ]:
!pip install wordcloud

In [ ]:
!pip install TextBlob

In [ ]:
!pip install spacy

In [ ]:
!pip install --upgrade gensim

In [ ]:
import wordcloud
from textblob import TextBlob
## for name entity recognition
import spacy
## for vectorizer
from sklearn import feature_extraction, manifold
## for word embedding
##import gensim.downloader as gensim_api
## for topic modeling
##import gensim

In [ ]:
nltk.download('wordnet')
nltk.download('omw-1.4')

In [ ]:
print("--- stemming ---")
ps = nltk.stem.porter.PorterStemmer()
print([ps.stem(word) for word in txt])
print("--- lemmatisation ---")
lem = nltk.stem.wordnet.WordNetLemmatizer()
print([lem.lemmatize(word) for word in txt])

In [ ]:
'''
Preprocess a string.
:parameter
    :param text: string - name of column containing text
    :param lst_stopwords: list - list of stopwords to remove
    :param flg_stemm: bool - whether stemming is to be applied
    :param flg_lemm: bool - whether lemmitisation is to be applied
:return
    cleaned text
'''
def utils_preprocess_text(text, lst_stopwords=None, flg_stemm=False, flg_lemm=True):
    ## clean (convert to lowercase and remove punctuations and characters and then strip)
    text = re.sub(r'[^\w\s]', '', str(text).lower().strip())
            
    ## Tokenize (convert from string to list)
    lst_text = text.split()
    ## remove Stopwords
    if lst_stopwords is not None:
        lst_text = [word for word in lst_text if word not in 
                    lst_stopwords]
                
    ## Stemming (remove -ing, -ly, ...)
    if flg_stemm == True:
        ps = nltk.stem.porter.PorterStemmer()
        lst_text = [ps.stem(word) for word in lst_text]
                
    ## Lemmatisation (convert the word into root word)
    if flg_lemm == True:
        lem = nltk.stem.wordnet.WordNetLemmatizer()
        lst_text = [lem.lemmatize(word) for word in lst_text]
            
    ## back to string from list
    text = " ".join(lst_text)
    return text

In [ ]:
new_df["text_clean"] = new_df["tags"].apply(lambda x: utils_preprocess_text(x, lst_stopwords, flg_stemm=False, flg_lemm=True))

In [ ]:
new_df.head()

In [ ]:
print(new_df["tags"].iloc[0], " --> ", new_df["text_clean"].iloc[0])

In [ ]:
new_df['word_count'] = new_df["tags"].apply(lambda x: len(str(x).split(" ")))
new_df['char_count'] = new_df["tags"].apply(lambda x: sum(len(word) for word in str(x).split(" ")))
new_df['sentence_count'] = new_df["tags"].apply(lambda x: len(str(x).split(".")))
new_df['avg_word_length'] = new_df['char_count'] / new_df['word_count']
new_df['avg_sentence_lenght'] = new_df['word_count'] / new_df['sentence_count']
new_df.head()

In [ ]:
!pip install seaborn
import seaborn as sns

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features= 5000, stop_words='english')

In [ ]:
new_df["sentiment"] = new_df["tags"].apply(lambda x: 
                   TextBlob(x).sentiment.polarity)
new_df.head()

In [ ]:
!pip install spacy.cli

In [ ]:
import spacy.cli ## common line interface
spacy.cli.download("en_core_web_lg")

In [ ]:
## call model
import spacy
ner = spacy.load("en_core_web_lg")
## tag text
txt = new_df["tags"].iloc[3]
doc = ner(txt)
## display result
spacy.displacy.render(doc, style="ent")

In [ ]:
##!pip install collections
import collections

In [ ]:
## tag text and exctract tags into a list
new_df["tagss"] = new_df["tags"].apply(lambda x: [(tag.text, tag.label_) 
                                for tag in ner(x).ents] )
## utils function to count the element of a list
def utils_lst_count(lst):
    dic_counter = collections.Counter()
    for x in lst:
        dic_counter[x] += 1
    dic_counter = collections.OrderedDict( 
                     sorted(dic_counter.items(), 
                     key=lambda x: x[1], reverse=True))
    lst_count = [ {key:value} for key,value in dic_counter.items() ]
    return lst_count

## count tags
new_df["tagss"] = new_df["tagss"].apply(lambda x: utils_lst_count(x))

## utils function create new column for each tag category
def utils_ner_features(lst_dics_tuples, tag):
    if len(lst_dics_tuples) > 0:
        tag_type = []
        for dic_tuples in lst_dics_tuples:
            for tuple in dic_tuples:
                type, n = tuple[1], dic_tuples[tuple]
                tag_type = tag_type + [type]*n
                dic_counter = collections.Counter()
                for x in tag_type:
                    dic_counter[x] += 1
        return dic_counter[tag]
    else:
        return 0

## extract features
tags_set = []
for lst in new_df["tagss"].tolist():
     for dic in lst:
          for k in dic.keys():
              tags_set.append(k[1])
tags_set = list(set(tags_set))
for feature in tags_set:
     new_df["tagss_"+feature] = new_df["tagss"].apply(lambda x: 
                             utils_ner_features(x, feature))

## print result
new_df.head()

In [ ]:
## predict wit NER
txt = new_df["tags"].iloc[0]
print(txt)
entities = ner(txt).ents
print(entities)
## tag text
tagged_txt = txt
for tag in entities:
    tagged_txt = re.sub(tag.text, "_".join(tag.text.split()), 
                        tagged_txt) 
## show result
print(tagged_txt)

In [ ]:
import nltk
nltk.download('punkt')
tags = "Avatar"
corpus = new_df[new_df["tags"]==tags]["text_clean"]
lst_tokens = nltk.tokenize.word_tokenize(corpus.str.cat(sep=" "))

In [ ]:
lst_words = ["quality", "nice", "good"]
## count
lst_grams = [len(word.split(" ")) for word in lst_words]
vectorizer = feature_extraction.text.CountVectorizer(
                 vocabulary=lst_words, 
                 ngram_range=(min(lst_grams),max(lst_grams)))
dtf_X = pd.DataFrame(vectorizer.fit_transform(new_df["text_clean"]).todense(), columns=lst_words)
## add the new features as columns
new_df = pd.concat([new_df, dtf_X.set_index(new_df.index)], axis=1)
new_df.sample(10)

In [ ]:
import nltk.corpus as corpus

In [ ]:
new_df['tags'].astype(str)

In [ ]:
wc = wordcloud.WordCloud(background_color='black', max_words=150, 
                         max_font_size=35)
wc = wc.generate(str(new_df['tags']))
fig = plt.figure(num=1)
plt.axis('off')
plt.imshow(wc, cmap=None)
plt.show()